# Environments
.venv/
venv/
ENV/
env/
*.venv

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pyenv
.python-version

# Ignore everything inside output
output/*
*.log
output/*.log

# Keep the placeholder so the folder exists in Git
!output/.gitkeep